<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd   
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/tx     
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache-4.1.xsd
    http://www.springframework.org/schema/data/jpa
     http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd">
     
    <description>Spring-Data-JPA配置学习</description>
    
	<!--引入数据库连接池属性文件 -->
    <context:property-placeholder location="classpath*:db.properties" />
    
	<!-- 配置C3P0连接池 -->
     <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		  <property name="driverClass" value="${jdbc.driver}"></property>
		  <property name="jdbcUrl" value="${jdbc.url}"></property>
		  <property name="user" value="${jdbc.uid}"></property>
		  <property name="password" value="${jdbc.pwd}"></property>
		  <property name="minPoolSize" value="${c3p0.minPoolSize}"></property>
		  <property name="maxPoolSize" value="${c3p0.maxPoolSize}"></property>
		  <property name="maxIdleTime" value="${c3p0.maxIdleTime}"></property>
		  <property name="acquireIncrement" value="${c3p0.acquireIncrement}"></property>
		  <property name="maxStatements" value="${c3p0.maxStatements}"></property>
		  <property name="initialPoolSize" value="${c3p0.initialPoolSize}"></property>
		  <property name="idleConnectionTestPeriod" value="${c3p0.idleConnectionTestPeriod}"></property>
		  <property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}"></property>
		  <property name="breakAfterAcquireFailure" value="${c3p0.breakAfterAcquireFailure}"></property>
		  <property name="testConnectionOnCheckout" value="${c3p0.testConnectionOnCheckout}"></property>
	 </bean>
    
    <!--使用声明式事务管理 -->
    <!--定义事务管理器，由spring管理事务 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">  
        <property name="entityManagerFactory" ref="entityManagerFactory"/>  
    </bean>  
    <!--支持注解驱动的事务管理，指定事务管理器 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
	<!--配置JPA对于Hibernate的适配器-->  
    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="generateDdl" value="true"/>
        <property name="database" value="MYSQL"/>
        <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
    </bean>
  
     <!--配置 JPA EntityManager工厂  -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!-- 连接池属性 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 适配器属性 -->
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
        <!-- 实体扫描包 -->
        <property name="packagesToScan" value="pers.fhr.sjpademo.entitys"/>
        <!-- jpa属性 -->
        <property name="jpaProperties">
        	<props>
                <!-- 配置命名规则 如右：My_NAME->MyName -->
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
            	<!-- 显示SQL -->
            	<prop key="hibernate.show_sql">true</prop>  
            </props>
        </property>
        <!-- 配置JPA方言 -->
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>
    </bean>
    
    <!-- JPA仓库配置 也就是DAO，会根据Repository接口自动生成实现bean,base-package是进行扫描的包 -->
    <jpa:repositories base-package="pers.fhr.sjpademo.repositorys"
    				  transaction-manager-ref="transactionManager"
                      entity-manager-factory-ref="entityManagerFactory"/>
                      
                      
    <!-- 启用Spring上下文注解 -->
    <context:annotation-config />
    <!-- 扫描注解 将注解Bean进行注册 -->
    <context:component-scan base-package="pers.fhr.sjpademo">
   	  <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
</beans>